<div class="container">
    <h1 class="mb-1"><%= blog.title %></h1>
    <div class="text-muted mb-2">

    </div>
    <a href="/bloger/dashboard" class="btn btn-secondary">All Blogs</a>
    <a href="/blog/edit/<%= blog.id %>" class="btn btn-info">Edit</a>

    <div>
        <%- blog.sanitizedHtml %>
    </div>
</div>
